* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    height: 80px;
    background-color: white;
    width: 100%;
    border: 2px solid black;
    position: sticky;
    z-index: 2;
}

.lingid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul {
    list-style-type: none;  
}

.asjad {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.väike-sec {
    height: 50px;
    display: grid;
    background-color: white;
    width: 100%;
    border: 2px solid black;
}

.alumised-asjad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nupud {
    display: flex;
    justify-content: flex-end;
}

.pilt-1 {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}